{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/advertisement.css">
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/assets/css/flaticonFont/flaticon.css">
    <link rel="stylesheet" href="/assets/css/advertisement.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

    <div class="col-12 d-flex justify-content-center p-0 mt-5">
        {# col-9 for 75% screen #}
        <div class="row col-12 col-sm-9 p-0 mt-5">
            {% include 'Advertisement/_header.html.twig' %}
            <div class="col-12 col-md-9 p-0">
                {% include 'Advertisement/_carousel.html.twig' %}
            </div>
            <div class="col-12 col-md-3 px-3 d-none d-md-block">
                {% include 'Advertisement/_feature.html.twig' %}
            </div>
            {% include 'Advertisement/_details.html.twig' %}
            <div class="col-12 px-3 d-md-none">
                {% include 'Advertisement/_feature.html.twig' %}
            </div>
            {% include 'Advertisement/_energyInformations.html.twig' %}
        </div>            
    </div>
{% endblock %}
