<header class="position-relative ">
    <img src = "/assets/images/image_accueil.jpg" alt="" class="container-fluid p-0 position-relative ">                                   
    <h1 class="header_title text-center d-none d-sm-block text-uppercase position-absolute top-50 start-50 translate-middle">Bienvenue au Club de l'Immo</h1>
</header>
